.container-header {
    max-width: 100%;
    height: 80px;
    background-color: rgb(187, 187, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 rgb(117, 117, 117);
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: rgb(187, 187, 187);
    padding: 5px;
    border: solid blue 2px;
}
.show {
   background-color:  rgba(0,0,0,0.3);
}
a.navbar-brand {
    font-size: 18px !important;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    color: white !important;
    text-shadow: rgba(107, 107, 107, 0.514) 1px 0 10px;
    margin: 0 40px 0 40px;
}

a.nav-link {
    font-family: 'Comfortaa', cursive;
    margin: 0px 45px 0px 45px;
}

button.btn.btn-color {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    color: white;
    text-shadow: rgba(107, 107, 107, 0.514) 1px 0 10px;
    
}

.nav-item.active {
    display: flex;
    align-items: center;
    padding-left: 30px;
}